
##############################################################
# OUTPUT IN src/bash/output FOLDER
##############################################################

#used to test binary
src/bash/output/**
